@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

#loginform {
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#headerTitle {
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
}

#errorText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(30, 61, 128);
}

#subjectText {
    width: 250px;
    margin: 0 auto;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background-color: #007AAE;
    border-radius: 25px;
}

#button{
    padding-bottom: 1.5rem;
}


#facebookIcon {
    background-image: url("http://dev.jinyuone.com/img/react/icon-facebook.png");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

#twitterIcon {
    background-image: url("http://dev.jinyuone.com/img/react/icon-twitter.png");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

#googleIcon {
    background-image: url("http://dev.jinyuone.com/img/react/icon-google.png");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

#iconGroup {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#iconGroup a{
    margin: 0 0.6rem;
}

#alternativeLogin {
    padding-top: 2rem;
    margin-top: 1.5rem;
}

#contentGroup {
    width: 100%;
    min-height: 800px;
    text-align: left;
}

#table {
    display: table;
    width: 100%;
    font-size: small;
}

#table .title {
    font-weight: bold;
}

#table .row {
    display: table-row;
}

#table .cell {
    display: table-cell;
    padding: 3px;
    border-bottom: 1px solid #DDD;
}

#table a {
    text-decoration: none;
    color: #0b1f55;
}

#table a:visited {
    color: #acacac;
}

#table .col1_7 {width: 5%;}
#table .col2_7 {width: 40%;}
#table .col3_7 {width: 10%;}
#table .col4_7 {width: 15%;}
#table .col5_7 {width: 10%;}
#table .col6_7 {width: 10%;}
#table .col7_7 {width: 10%;}

#table .col1_6 {width: 5%;}
#table .col2_6 {width: 20%;}
#table .col3_6 {width: 40%;}
#table .col4_6 {width: 10%;}
#table .col5_6 {width: 15%;}
#table .col6_6 {width: 10%;}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
}

.row input{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}
  
.row input:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
}
  
.row input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
    opacity: 0;
}
  
.row label{
    font-family: 'open sans', sans-serif;
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
}
  
.row button{
    border-radius: 25px;
    width: 80%;
    height: 50px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgb(34, 157, 195) 0%, rgb(48, 45, 253) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}
  
.row button:hover {
    opacity: 0.8;
}

.min {
    min-height: 840px;
}

footer {
    display: inline-block;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    bottom: 0;
    border-top: 1px solid rgb(202, 202, 202);
    color: #9e9e9e;
    font-size: 12px;
    background-color: #efefef;
}

footer a {
    margin: 0 10px 10px 10px;
    color: #808080;
    font-size: 12px;
    text-decoration: none;
}

footer a:visited {
    color: #808080;
}

footer p {
    margin-top: 0; margin-bottom: 0;
}

footer p span {
    margin-left: 20px;
}

header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    background-color: white;
    color:#808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li {
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
}

header a {
    display: inline-block;
    color: #425ba1;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

header li a:after {
    display: block;
    width: 70px;
    content: '';
    border-bottom: solid 2px #6bfa0b;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

header li a:hover:after {
    transform: scaleX(1);
}

.main {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    /*border: 3px solid black;*/
}

.main:after { clear: both; display: block; content: ''; }

.main .sidebar {
    position: fixed;
    height: 100%;
    top: 60px;
    right: 80px;
    width: 200px;
    /*background-color: #878788; */
    border-left: 1px solid #b6b6b6;
}

.main .sidebar ul {
    list-style-type: none;
    font-size: 12px;
    line-height: 0.5em;
}

.main .sidebar li a {
    text-decoration: none;
    display: block;
    color: #000;
    padding: 12px 15px 12px 15px;
    font-weight: bold;
}

.main .sidebar li a.gubun {
    padding: 12px 15px 12px 15px;
    background-color: tomato;
    color: #fff;
}

.main .sidebar li a:hover:not(.gubun) {
    background-color: #333;
    color: #fff;
}

.main .content {
    display: inline-block;
    width: 980px;
    /*border: 1px solid black;*/
}

.main .content .container {
    width: 100%;
    background-color: #cdcdce;
    padding: 0.5rem;
    border-radius: 0.5em;
    margin: 0 auto;
}

#wrap {
    width: 100%;
    height: 700px;
    margin: 0 auto;
}