@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

#loginform {
    max-width: 500px;
    min-width: 300px;
    max-height: 700px;
    width: 30%;
    height: 60%;
    margin: 100px auto;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#headerTitle {
    font-family: 'open sans', sans-serif;
    padding: 2rem 0;
    margin: 0;
    font-size: 2rem;
}

#errorText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(30, 61, 128);
}

#button{
    padding-bottom: 1.5rem;
}


#facebookIcon {
    background-image: url("http://dev.jinyuone.com/img/react/icon-facebook.png");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

#twitterIcon {
    background-image: url("http://dev.jinyuone.com/img/react/icon-twitter.png");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

#googleIcon {
    background-image: url("http://dev.jinyuone.com/img/react/icon-google.png");
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
}

#iconGroup {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

#iconGroup a{
    margin: 0 0.6rem;
}

#alternativeLogin {
    padding-top: 2rem;
    margin-top: 1.5rem;
}

#mainBox {
    width: 60%;
    height: 200px;
    margin: 0 auto;
    position: relative;  
    background-color: #385dad;
    color:#FFFFFF;
    padding-top: 50px;
    border-radius: 1em;
    font-size: medium;
}

#contentGroup {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

#table {
    display: table;
    width: 60%;
    margin: 0 auto;
    font-size: small;
}

#table h1 {
    width: 140px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: #fff;
    background: #007AAE;
    border-radius: 30px;
}

#table .title {
    font-weight: bold;
}

#table .row {
    display: table-row;
}

#table .cell {
    display: table-cell;
    padding: 3px;
    border-bottom: 1px solid #DDD;
}

#table .col1 {width: 20%;}
#table .col2 {width: 40%;}
#table .col3 {width: 20%;}
#table .col4 {width: 20%;}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    max-width: 100%;
}

.row input{
    width: 80%;
    box-sizing: border-box;
    border: none;
    font-size: 1.3rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
    transition: box-shadow 0.2s ease-in;
}
  
.row input:focus{
    box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7);
    outline: none;
}
  
.row input::-webkit-input-placeholder{
    opacity: 1;
    transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
    opacity: 0;
}
  
.row label{
    font-family: 'open sans', sans-serif;
    align-self: start;
    padding-left: 4.5rem;
    padding-bottom: 0.5rem;
    color: rgba(187,187,187,0.9);
}
  
.row button{
    border-radius: 25px;
    width: 80%;
    height: 50px;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgb(34, 157, 195) 0%, rgb(48, 45, 253) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
}
  
.row button:hover {
    opacity: 0.8;
}

footer {
    width: 100%;
    height: 30px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    border-top: 1px solid rgb(202, 202, 202);
    color: #9e9e9e;
    font-size: 12px;
    background-color: #efefef;
}

footer a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #808080;
    font-size: 12px;
    text-decoration: none;
}

footer a:visited {
    color: #808080;
}

footer p {
    margin-top: 0; margin-bottom: 0;
}

footer p span {
    display: inline-block;
    margin-left: 20px;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid black;
    text-align: left;
    background-color: white;
    color:#808080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li {
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
    font-weight: bold;
}

header a {
    display: inline-block;
    margin: 0 20px 10px 20px;
    color: #304786;
    font-size: 14px;
    text-decoration: none;
}

main {
    width: 100%;
    margin-top: 85px;
    margin-bottom: 50px;
}
